body
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p
{
    color: #bfbfbf;
    
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
 
.container-fluid
{
    padding: 7% 15%;
   
}

.colored
{
    color: white;
    background-color: #ff4c68;
}

.not-colored
{
   background-color: #fff;
}

/* Title */
#title
{
    
    text-align: left;
}

#title .container-fluid
{
    padding: 3% 15% 7%;
}

/* Title-image */
.iphone
{
    margin-left: 90px;
    width: 20%;
    transform: rotate(25deg);
    position:absolute;
    
}



/* navbar-section */

.navbar
{
    padding-bottom: 4.5rem;
}
.nav-item
{
    padding: 0px 18px;
}
.nav-link
{
    font-size: 1.2rem;
    
}
.navbar-brand
{
    
    letter-spacing: 2px;
    font-size: 2.5rem;
}

/* button-section */
.download-button
{
    margin: 5% 3% 5% 0;
}
/*feature section */
#features
{
 
   position: relative; 
  
}
#features p
{
    padding: 2% 10%;
}

#features h3
{
    
    font-size: 1.5rem;
    
}
.feature-icons
{
    font-size: 2rem;
   
   color: #ef8172;
}
.feature-icons:hover
{
    color: #ff4c68;
}


/* Testimonials section */
#testimonials
{
    
    background-color: #ef8172;
    font-family: 'Montserrat', sans-serif;
    
}


.testimonials-image
{
    width: 10%;
    border-radius: 100%;
    padding: 20px;
}

/* Press section */

#press
{
    background-color: #ef8172;
    padding-bottom: 3rem;
}
#press img
{
    width: 15%;
    padding: 20px 20px 50px;
}

/* Pricing section */

#pricing
{
    padding: 100px;
}
.pricing-col 
{
    padding: 3% 2%;
}
#pricing h3
{
    font-size: 1.5rem;
}

/* call the action */

    #cta h3{
        padding: 5% 20% 3%;
    }
    

/*   footer section */

#footer a
{
    padding: 1% 

}
#footer p
{
    margin-top: 1%;
}




/* media query */
@media (max-width:992px)
{
    #title
    {
        text-align: center;
    }
    .iphone
    {
        position: static;
        transform: rotate(0);
        width: 45%;
        margin-right: 50%;
    }
    .testimonials-image
    {
        width: 30%;
    }
    #press img
    {
        width:30%;
    }
}

